@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Charm Handwriting';
	src: url('/fonts/Handwriting-Font.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

#postContainer h2 {
	@apply text-xl text-lavender-800 underline;
}
#postContainer h3 {
	@apply text-lg text-lavender-800 pt-4;
}

#postContainer p {
	@apply my-1;
}
