@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Charm Handwriting';
	src: url('/fonts/Handwriting-Font.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
